<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name=".CollectorApplication" android:allowBackup="false" android:label="Uma Collector" android:supportsRtl="true" android:theme="@style/Theme.UmaCollector" android:usesCleartextTraffic="true">
        <activity android:name=".DecodedResultsActivity" android:exported="false" />
        <activity android:name=".RawPackageDecodeActivity" android:exported="false" />
        <activity android:name=".RawFormatIdentificationActivity" android:exported="false" />
        <activity android:name=".SelectedSessionSyncActivity" android:exported="false" />
        <activity android:name=".LocalSnapshotVerificationActivity" android:exported="false" />
        <activity android:name=".SessionSelectionActivity" android:exported="false" />
        <activity android:name=".RemoteVerificationActivity" android:exported="false" />
        <activity android:name=".VerifySessionActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".CollectorHomeActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
    </application>
</manifest>
